<nav id="sidebar-icon-links">
  
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="https://github.com/Xiaofu-Jin">
      {% include svg/github.svg %}
    </a>
    


  <a id="subscribe-link"
     class="icon" title="Subscribe" aria-label="Subscribe"
     href="https://scholar.google.com/citations?user=AuZH5MMAAAAJ">
    {% include svg/icons8-google-scholar.svg %}
  </a>

  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% endif %}
  {% endfor %}

  {% if tags_page %}
    <a id="tags-link"
       class="icon{% if page.url == '/tags' %} active{% endif %}"
       title="Tags" aria-label="Tags"
       href="mailto:suffvier@gmail.com">
      {% include svg/email.svg %}
    </a>
  {% endif %}

  {% if search_page %}
    <a id="search-link"
       class="icon{% if page.url == '/search' %} active{% endif %}"
       title="Search" aria-label="Search"
       href="https://www.linkedin.com/in/xiaofu-jin-75932b111">
      {% include svg/iconmonstr-linkedin-3.svg %}
    </a>
  {% endif %}

  <a id="github-download-link"
       class="icon" title="Download" aria-label="Download"
       href="/CV.pdf">
      {% include svg/curriculum-vitae.svg %}
    </a>

  {% include custom-icon-links.html %}

  
</nav>
